<p>
    <a href="/tutorial/" title="Tutoriel">Tutoriel</a>
    |<a href="/documentation/" title="Documentation">Documentation</a>
    |<a href="https://github.com/soysouvanh/ainjs-framework" title="Téléchargement">Téléchargement</a>
</p>