<h1>Authentification</h1>
<section>
	<h2>Authentification</h2>
	<form id="mainForm" action="/login,event" method="POST">
		<p><input type="email" id="email" name="email" placeholder="E-mail"/></p>
		<p><input type="password" id="password" name="password" placeholder="Mot de passe"/></p>
		<p class="action"><button type="submit" id="okBtn">Valider</button></p>
	</form>
	<p>E-mail : test@email.com<br/>Mot de passe : password</p>
</section>